.payout2 {
  position: relative;
  font-size: 11px;
  font-weight: 600;
  font-family: Poppins;
  color: #3f9ae0;
  text-align: left;
}
.payout-button1 {
  cursor: pointer;
  border: 0.7px solid #3f9ae0;
  padding: 7px 15px;
  background-color: #e9f5ff;
  border-radius: 19px;
  box-sizing: border-box;
  width: 88px;
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.payout-button1:hover {
  background-color: #3f9ae0;
}
.payout-button1:hover .payout2 {
  color: #fff;
}
.income-button1 {
  cursor: pointer;
  border: 0.7px solid #3f9ae0;
  padding: 7px 20px;
  background-color: #e9f5ff;
  border-radius: 19px;
  box-sizing: border-box;
  width: 88px;
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.income-button1:hover {
  background-color: #3f9ae0;
}
.income-button1:hover .payout2 {
  color: #fff;
}
.allocation2 {
  position: relative;
  font-size: 11px;
  font-weight: 600;
  font-family: Poppins;
  color: #fff;
  text-align: left;
}
.allocation-button1 {
  cursor: pointer;
  border: 0.7px solid #3f9ae0;
  padding: 7px 20px;
  background-color: #3f9ae0;
  border-radius: 19px;
  box-sizing: border-box;
  width: 88px;
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.allocation-button1:hover {
  background-color: #3f9ae0;
}
.transfer-button1 {
  cursor: pointer;
  border: 0.7px solid #3f9ae0;
  padding: 7px 20px;
  background-color: #e9f5ff;
  border-radius: 19px;
  box-sizing: border-box;
  width: 88px;
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.transfer-button1:hover {
  background-color: #3f9ae0;
}
.transfer-button1:hover .payout2 {
  color: #fff;
}
.transaction-types-buttons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
}
.text2 {
  position: relative;
  font-weight: 500;
}
.total-allocated-balance {
  position: relative;
  font-weight: 600;
}
.amount-and-dzd-container6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.balance {
  border-radius: 8px;
  background-color: #efefef;
  border: 0.5px solid #9b9b9b;
  box-sizing: border-box;
  height: 22px;
  display: flex;
  flex-direction: row;
  padding: 9px;
  align-items: center;
  justify-content: center;
}
.balancecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.buttonsbalancecontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 23px;
}
.search-input1 {
  border: 1px solid #000;
  font-family: Poppins;
  font-size: 12px;
  background-color: #cacaca;
  border-radius: 61px;
  width: 120px;
  height: 34px;
  display: flex;
  flex-direction: row;
  padding: 4px 32px 4px 21px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.buttonsbalancecontainersear {
  align-self: stretch;
  height: 76px;
  display: flex;
  flex-direction: row;
  padding: 0px 25px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
}
.transaction-id-title1 {
  width: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.related-id-title1 {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.full-name-title1 {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.article-name-title1 {
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.type-title1 {
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.payment-method-title1 {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.creation-date-title1 {
  width: 117px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.amount-title1 {
  width: 132px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.t-head1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.transaction-id-var6 {
  position: relative;
}
.transactions-listing1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}
.transactions-container1 {
  align-self: stretch;
  border-radius: 20px;
  background-color: #f5f5f5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 30px 21px;
  align-items: center;
  justify-content: center;
  gap: 28px;
  color: #000;
}
.buttonsbalancecontainersearc {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 19px;
}
.nbr-of-shows-transactions-deta1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}
.back-ic-icon2 {
  position: relative;
  width: 6px;
  height: 9px;
}
.previous-icone1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.previous1 {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins;
  color: #007fff;
  text-align: left;
}
.btnprevious1 {
  cursor: pointer;
  border: none;
  padding: 5px 13px;
  background-color: #fff;
  border-radius: 20px;
  width: 99px;
  height: 28px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.next-ic-icon2 {
  position: relative;
  width: 5.26px;
  height: 9px;
}
.btnnext1 {
  cursor: pointer;
  border: none;
  padding: 5px 9px;
  background-color: #fff;
  border-radius: 20px;
  width: 99px;
  height: 28px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.change-page-buttons1 {
  width: 210px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.page-details-container1 {
  align-self: stretch;
  height: 28px;
  display: flex;
  flex-direction: row;
  padding: 0px 25px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  color: #3e4954;
}
.transactions-allocation-contai {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.transactions-of-allocation {
  background-color: #e7ebf2;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-shrink: 0;
  padding: 17px 29px;
  box-sizing: border-box;
  text-align: left;
  font-size: 12px;
  color: #000;
  font-family: Poppins;
}
